
.body {
    background:linear-gradient(rgb(36%, 37%, 23%), rgb(34%, 45%, 56%)),rgb(30%, 14%, 26%)
}

.bodyy {
    background:linear-gradient(rgb(36%, 37%, 23%), rgb(34%, 45%, 56%)),rgb(30%, 14%, 26%)
}

.bodyyy {
    background:linear-gradient(rgb(36%, 37%, 23%), rgb(34%, 45%, 56%)),rgb(30%, 14%, 26%)
}
.menu {
    color:darkorange;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.card{

    background:linear-gradient(rgb(36%, 37%, 23%), rgb(34%, 45%, 56%)),rgb(30%, 14%, 26%)

}

.menuu {
    background:linear-gradient(rgb(36%, 37%, 23%), rgb(34%, 45%, 56%)),rgb(30%, 14%, 26%)
}

.historia {
    color: darkorange;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.imagen {
    color:darkorange;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.redes {
    color:darkorange;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.paginas {
        
        background-color: black;
        display:flex;
}


.parrafouno {
        
    background-color: grey;
    
}

.parrafodos {
        
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    
}

.parrafotres {
        
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    
}

.parrafocuatro {
        
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    
}

.parrafocinco {
        
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
}

.parrafoseis {
        
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    
}

.parrafosiete {
        
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    
}

.fotos {
    display: flex;
    width: 140px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}

.imagenes {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:darkorange ;
    
}

.fotouno {
    width: 285px;
    margin-left: auto;
    margin-right: auto;
    
}

.fotodos {
    
 width: 285px;
 margin-left: auto;
margin-right: auto;  
}

.fotores {
   width: 10px;
   margin-left: auto;
   margin-right: auto;
    
}