.body{
    background: -webkit-gradient(linear, left top, left bottom, from(#5c5e3b), to(#57738f)), #4d2442;
    background: linear-gradient(#5c5e3b, #57738f), #4d2442;
}

.p {
  text-align: center;
}

.bodyyy{
    h2{
       font-family: Verdana, Geneva, Tahoma, sans-serif; 
    }

}